.w3-text-grey-blue {
    color: #0B132B;
}
.w3-bars-grey-blue {
    color: #fff!important;
    background-color: #1c2541!important;
}
.w3-background-grey-light-blue {
    background-color: #3a506b!important;
}
.w3-background-black {
    background-color: #000000!important;
}
.w3-color-main-text {
    color: #fff!important;
}